@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* > * {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

:root {
  --color-red: #cf2828;
  --color-light: #f3f3f2;
  --color-yellow: #f1ffa5;
  --color-dusk: #2d4754;
  --color-midnight: #091a23;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  text-align: center;
}

.board .leaderboard {
  margin-bottom: 0.5em;
}

.board button {
  border: 1px solid var(--color-light);
  padding: 0.5em 2em;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.board button:hover {
  background-color: var(--color-red);
  color: var(--color-light);
}

.active {
  background-color: var(--color-red);
  color: var(--color-light);
}

#profile {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  margin-top: 1em;
}

#profile .flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: left;
  margin-bottom: 0.5em;
  background-color: var(--color-dusk);
  padding: 0 2em;
  border-radius: 10px;
  box-shadow: 1px 10px 20px #858b9259;
}

#profile .flex .rank {
  display: flex;
  align-items: center;
}

#profile .flex img {
  width: 20%;
  border-radius: 50%;
}

#profile .flex .info {
  padding: 0.5em;
  padding-left: 2em;
  text-align: left;
}

#profile .flex .score {
  display: flex;
  align-items: center;
  /* font-size: 1.5em; */
  font-weight: bold;
}

.text-dark {
  color: var(--color-red);
}
.text-light {
  color: var(--color-light);
}
.text-emphasis {
  color: var(--color-yellow);
}
